body {
    font-family: "Oswald", sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #000;
    color: white;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.searchContainer {
    flex: 2;
    display: flex;
    justify-content: center;
}

.limitedOfferContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: lightgray;
}

.LimitedOffer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItemActive {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
    border-bottom: 2px solid purple;
}

a {
    text-decoration: none;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.footerMenu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f1f1f1;
}

.footerItem {
    flex: 1;
    margin: 0 10px;
}

.footerItem h3 {
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 0.5px; 
    color: #666; 
}

.footerItem ul {
    list-style: none;
    padding: 0;
}

.footerItem ul li {
    margin-bottom: 5px;
}

.footerItem ul li a {
    text-decoration: none;
    color: #666; 
    letter-spacing: 0.5px;
}
.footerItem ul li a:hover {
    border-bottom: 2px solid purple; 
}
     

.socialIcons {
    display: flex;
    gap: 10px;
}

.socialIcons a img {
    width: 24px;
    height: 24px;
    filter: grayscale(100%); 
}

.product {
    display: flex; 
    align-items: stretch; /* Gleiche Höhe für Bilder und Beschreibung */
    gap: 20px; 
    margin-bottom: 20px; 
}

.image-container {
    display: flex; 
    gap: 10px; 
}

.productImg {
    width: 250px;
    height: auto; 
    object-fit: contain; /* Skaliert Bild, ohne zuzuschneiden */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-info {
    flex: 1; 
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.product-info h2 {
    font-size: 1.5rem;
    color: #666; 
    margin: 0;
    padding: 0;
}

.product-info p {
    font-size: 1rem;
    color: #666; 
    margin-bottom: 10px;
}

.product-info p.price {
    font-size: 1rem; 
    font-weight: normal; 
    color: #666; 
    margin-bottom: 20px;
}

.product-info p.price::before {
    content: "Preis: ";
}

.product-info button {
    background-color: green;
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    }

.product-info button:hover {
    background-color: #4b0082; 
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

h1 {
    font-size: 2.5rem; 
    color: grey; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

p {
    font-size: 1.2rem; 
    color: #666; 
    line-height: 1.8; 
    text-align: justify; 
    margin-bottom: 30px; 
}

main {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    color: #666; 
    font-size: 1rem; 
    line-height: 1.6; 
}

.teamImage {
    text-align: center; 
}


